#brilliant {
  width: 100%;
  background-color: var(--secondary);
  padding: 5rem 0;

  .container {
    h1 {
      color: white;
      text-align: center;
      margin-bottom: 3rem;
    }

    .boxes-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      .boxes {
        width: 90%;

        display: flex;
        gap: 2rem;

        .box {
          height: 261px;
          width: 25%;
          background-color: white;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;

          h6 {
            color: rgb(102, 102, 102);
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
          }

          data {
            font-family: Montserrat, sans-serif;
            font-size: 72px;
            font-weight: 700px;
            color: var(--accent);
          }
        }

        @media (max-width: 990px) {
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 2rem 0;
          .box {
            width: 47.3%;
            height: 210px;
          }
        }

        @media (max-width: 768px) {
          .box {
            width: 46.3%;
          }
        }

        @media (max-width: 576px) {
          .box {
            width: 100%;
            height: 168px;
          }
        }
      }
    }

    .bottom_img {
      width: 100%;
      margin-top: -7rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      img {
        width: 100%;
        height: 626px;
        object-fit: cover;

        @media (max-width: 576px) {
          height: 477px;
        }
      }

      p {
        color: white;
        a {
          border-bottom: 1px solid white;
          color: white;
        }
      }
    }
  }
}
