#contact {
  width: 100%;
  background-color: var(--secondary);
  padding: 5rem 0;

  .container {
    display: flex;
    gap: 4rem;

    .side_details {
      width: 65%;
      height: 100%;
      display: flex;
      gap: 4rem;

      .left_details {
        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          font-size: 36px;
          font-weight: 700;
          color: white !important;
        }

        h6 {
          font-size: 18px;
          font-weight: 700;
          font-style: italic;
          letter-spacing: 4px;
          color: white;
          text-transform: uppercase;
          line-height: 180%;
        }

        p {
          color: white;
          line-height: 200%;
        }

        .media {
          display: flex;
          gap: 10px;

          .social-icon {
            background-color: white;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              color: var(--secondary);
              font-size: 1rem;
            }

            img {
              width: 24px;
            }
          }
        }
      }

      .right_details {
        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          font-size: 20px;
          font-weight: 700px;
          letter-spacing: 4px;
          text-transform: uppercase;
          color: white;
        }

        p {
          color: white;
          line-height: 160%;
          max-width: 201px;
        }
      }
    }

    form {
      width: 35%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      input,
      textarea {
        padding: 10px 12px;
        border: none;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
        width: 320px;
      }

      button.button {
        background-color: var(--accent);
        width: 320px;
        height: 45px;
        color: var(--primary);
        font-weight: 700;
        cursor: pointer;
        
        &:hover {
          background-color: var(--primary);
          color: white;
        }

        &:active {
          background-color: white;
          color: var(--primary);
        }
      }
    }

    @media (max-width: 990px) {
      flex-wrap: wrap;
      gap: 4rem 0;

      .side_details {
        width: 100%;
      }

      form {
        width: fit-content;
      }
    }

    @media (max-width: 576px) {
      .side_details {
        flex-wrap: wrap;
        gap: 4rem 0;

        .left_details {
          width: 100%;
        }

        .right_details {
          width: 100%;
        }
      }

      form {
        width: 100%;

        input,
        textarea,
        button.button {
          width: 100%;
        }
      }
    }
  }
}
