footer {
  width: 100%;
  height: 30vh;
  background-color: #333333;
  padding: 3rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    color: white;
  }

  span {
    font-size: 13px;
    color: white;

    a {
      color: rgb(203, 205, 229);
      text-decoration: underline;
    }
  }
}
