#hero_sec {
  width: 100%;
  background-color: #f1bb13;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 2rem;

  .left {
    display: flex;
    align-items: end;

    img {
      width: 800px;
    }

    @media (max-width: 1200px) {
      height: 600px;

      img {
        width: 500px;
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      height: auto;
      img {
        width: 100%;
      }
    }

    @media (max-width: 700px) {
      img {
        width: 160%;
      }
    }
  }

  .right {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;

    h2 {
      max-width: 546px;

      a {
        color: #34365a;
      }
    }

    .button {
      margin-top: 1.5rem;
    }
  }

  @media (max-width: 1200px) {
    padding: 0 2rem;
  }

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    padding-top: 4rem;
  }
}
