#about {
  width: 100%;
  padding: 2rem 0 5rem 0;

  .container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem 0;

    .left {
      width: 48%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .rounded-yellow {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 60px 30px;
        background-color: var(--accent);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 454px;
      }
    }

    .right {
      width: 48%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      .top_img {
        width: 255px;
        height: 255px;
        object-fit: cover;
        border-radius: 50%;
      }

      .service {
        width: 100%;

        display: flex;
        align-items: start;
        gap: 3rem;

        .icon {
          flex-shrink: 0;
          background-color: var(--secondary);
          width: 64px;
          height: 64px;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 36px;
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          h4 {
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .left {
        width: 100%;

        .rounded-yellow {
          max-width: 380px;
        }
      }

      .right {
        width: 100%;

        .top_img {
          width: 160px;
          height: 160px;
        }

        .service {
          gap: 1rem;
        }
      }
    }
  }
}
