#coach {
  position: relative;
  width: 100%;
  background-color: var(--accent);
  .container {
    .left {
      max-width: 600px;
      padding: 5rem 0;

      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45%;
    }

    @media (max-width: 1200px) {
      .left {
        padding: 2rem 0;
        max-width: 500px;
      }
    }
  }
  @media (max-width: 990px) {
    padding-bottom: 420px;

    .container {
      .left {
        padding: 2rem 0;
        max-width: 100%;
      }

      img {
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 400px;
      }
    }
  }

  @media (max-width: 576px) {
    padding-bottom: 370px;

    .container {
      img {
        height: 350px;
      }
    }
  }

  @media (max-width: 400px) {
    padding-bottom: 330px;

    .container {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
