#consulting {
  width: 100%;
  height: 150vh;
  padding: 9rem 0;
  overflow-x: hidden;

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .left {
      width: 50%;
      height: 100%;

      .upper {
        width: 100%;
        height: 63%;
        background: url(../images/consulting/consult.jpg) center/cover no-repeat;

        .overlay {
          width: 100%;
          height: 100%;
          background: #00000070;
          padding: 4rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            color: white;
          }

          .arrow {
            width: 64px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            border: 4px solid white;
            border-radius: 50%;
            i {
              font-size: 2.5rem;
              color: white;
            }
          }
        }
      }

      .lower {
        width: 100%;
        height: 37%;
        background-color: darkorange;

        display: flex;
        flex-wrap: wrap;

        .left-img {
          width: 46.5%;
          height: 100%;
          background: url(../images/consulting/man-on-sofa.jpg) center/cover
            no-repeat;
        }

        .right-details {
          width: 53.5%;
          height: 100%;
          background-color: var(--accent);
          padding: 3rem 2rem;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .social {
            display: flex;
            gap: 10px;

            i {
              font-size: 26px;
            }
          }
        }
      }

      @media (max-width: 576px) {
        .upper {
          height: 40%;
        }

        .lower {
          height: 60%;

          .left-img {
            width: 100%;
            height: 65%;
          }

          .right-details {
            width: 100%;
            height: 35%;
            padding: 1.5rem 2rem;
          }
        }
      }
    }

    .right {
      width: 50%;
      height: 100%;

      .upper {
        width: 100%;
        height: 52%;
        background-color: var(--secondary);
        padding: 3rem 3.5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4,
        p,
        a {
          color: white;
        }

        p a {
          border-bottom: 1px solid white;
        }

        .button {
          border: 2px solid white;
        }
      }

      .lower {
        width: 100%;
        height: 48%;
        background: url(../images/consulting/people.jpg) center/cover no-repeat;
      }

      @media (max-width: 576px) {
        .upper {
          padding: 1.5rem 2rem;
        }
      }

      @media (max-width: 400px) {
        .upper {
          height: 60%;
        }

        .lower {
          height: 40%;
        }
      }
    }

    .vector_left {
      z-index: -1;
      width: 500px;
      position: absolute;
      top: -6.5rem;
      left: -4.5rem;
    }

    .vector_right {
      z-index: -1;
      width: 500px;
      position: absolute;
      bottom: -3rem;
      right: -3.5rem;
    }
  }

  @media (max-width: 990px) {
    height: 1700px;

    .container {
      .left {
        width: 100%;
        height: 50%;
      }

      .right {
        width: 100%;
        height: 50%;
      }
    }
  }

  @media (max-width: 576px) {
    height: 2000px;

    .container {
      .left {
        width: 100%;
        height: 60%;
      }

      .right {
        width: 100%;
        height: 40%;
      }

      .vector_left {
        width: 400px;
        top: -5.5rem;
        left: -3.5rem;
      }

      .vector_right {
        width: 400px;
        bottom: -3rem;
        right: -3.5rem;
      }
    }
  }
}
